/*------------------------------------------------------------------*/ 
/*	1) Note: Design for a width of 768 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/*------------------------------------------------------------------*/ 
/*	1) Header
/*------------------------------------------------------------------*/
.logo{margin-left:0;}
.wrapper{
	width:768px;
	margin:0 auto;
	float:none;
}
.main{	width:747px; margin:10px auto; margin-top:20px; margin-left:5px;}
.post-wrapper{ width:533px; }

/*------------------------------------------------------------------*/ 
/*	2) Nav
/*------------------------------------------------------------------*/
ul.sf-menu { display:none; }
.menu-toggle{
	display:block;
	width:42px;
	height:42px;
}

/*------------------------------------------------------------------*/ 
/*	3) Content
/*------------------------------------------------------------------*/
.post-type-wrapper img{
	width:718px;
}
.portfolio-list li{
	margin:0 5px 30px 0;
}
.video{
	width:718px;
	height:404px;
}
/*------------------------------------------------------------------*/ 
/*	3) Contact
/*------------------------------------------------------------------*/
.map{
	width:728px;
}
.input-section input, .input-section textarea{
	width:342px;
}
.input-section a.send{
	width:344px;
}
}